body {
	text-align: center;
	/*background: #2F2F2F;*/
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 43px;
}

img {
	border: 1px solid black;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	background: white;
}

ul {
	list-style: none;
	padding: 10px 0;
	display: inline-block;
}

ul>li {
	display: inline;
	background: #1c4e7a;
	padding: 4px;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}